.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select Video file';
    display: inline-block;
    background:teal;
    color:white;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  .c{
      height:80vh;
  }